.content {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 180px;
}

.title {
  width: 100%;
  text-align: center;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 24px 0 0;
}

.link_box {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #4c4cff;
  text-decoration: none;
}
